:root{
    --page-width: 131.5rem;
}
.h1{
  font-size: 4.79vw;
  line-height: 1.07;
  font-weight: bold;
  color: #4b4334;
}
h2{
  font-size: 2.76vw;
  line-height: 1.23;
  font-weight: bold;
  color: #4b4334;
}
h3, h4{
  font-family: "Playfair Display", serif;
}
.size-s{
  font-size: 1.04166666667vw;
  line-height: 1.5;
}
.size-m{
    font-size: 1.41vw;
    line-height: 1.41;
    letter-spacing: 0.27px;
}
@media only screen and (max-width: 749px){
    .size-m{
        font-size: 5.6vw;
        line-height: 1.48;
    }
    .size-s{
      font-size: 4.8vw;
      line-height: 1.56;
      letter-spacing: 0.18px;
    }
    .h1{
      font-size: 10.667vw;
      line-height: 1.25;
      font-weight: bold;
    }
    h2{
      font-size: 7.47vw;
      line-height: 2.32;
    }
  .copyright__content{
    width: 100%;
  }
}
.footer{
  border: 0!important;
}
.policies li::before {
  content: ''!important;
}
.footer__copyright{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__copyright .policies{
  display: inline-flex;
}
