:root{
    --page-width: 131.5rem;
}
.size-m{
    font-size: 1.41vw;
    line-height: 1.41;
    letter-spacing: 0.27px;
}
@media only screen and (max-width: 749px){
    .size-m{
        font-size: 5.6vw;
        line-height: 1.48;
    }
  .copyright__content{
    width: 100%;
  }
}
.footer{
  border: 0!important;
}
.policies li::before {
  content: ''!important;
}
.footer__copyright{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__copyright .policies{
  display: inline-flex;
}